<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <parameter name="browser" value="Firefox" />
    <test name="Regression Test">
        <classes>
            <class name="verifyGoogleLogoIsDisplayed"/>
            <class name="verifyPageTitle"/>
            <class name="verifySeleinumPage"/>
        </classes>
    </test>
</suite>
